body {
    width:100%;
    height:100%;
    text-align: center;
}


nav {
    display: flex;
    flex-direction: row-reverse;
    border: solid 2px black;
}

nav a {
    margin: 5px;
    font-size: 20px;
}

.main {
    height: 500px;
    margin: auto;
    width: 50%;
    background-color: red;
    border: 2px solid black;
}

.main-content {
    font-size:200px;
    text-align: center;
    position: relative;
    top: 100px;
}